<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Đăng ký và đăng nhập ứng dụng</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
    <!-- Create navigation bar (header) -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"data-toggle="collapse" data-target="#navbar" aria-expanded="false"aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" th:href="@{/}">Đăng ký và đăng nhập</a>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Đăng nhập thông tin người dùng</h1>
                <form th:action="@{/login}" method="post">
                    <!-- Error message -->
                    <div th:if="${param.error}" class="alert alert-danger">
                        Tên người dùng/mật khẩu không hợp lệ
                    </div>
                    <!-- Logout message -->
                    <div th:if="${param.logout}" class="alert alert-info">
                        Bạn đã đăng xuất.
                    </div>
                    <div class="form-group">
                        <label for="username">Tên đăng nhập:</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Nhập email" autofocus="autofocus">
                    </div>
                    <div class="form-group">
                        <label for="password">Mật khẩu:</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Nhập mật khẩu" />
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-primary" value="Đăng nhập" />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-group">
                    <span>Tạo người mới? <a href="/" th:href="@{/registration}">Đăng ký</a></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>